# App ID from GitHub App settings
APP_ID=3682071

# Webhook secret configured in GitHub App settings
WEBHOOK_SECRET=6bf8ca256fc129f5ac2f81fa2db94683a5895f6d

# Private key (.pem file contents, base64 encoded or raw)
PRIVATE_KEY=SHA256:tUk2gp5NmrP/nQNdjlWzQv9tvgs7HMncz0YY+5f3NOA=


# Optional: Set the port (default: 3000)
# PORT=3000

# Optional: Set log level (trace, debug, info, warn, error, fatal)
# LOG_LEVEL=info
